.blog-list-home {
    padding: 80px 0;
}

.blog-list-home h5 {
    font-size: 19px;
    margin-top: 10px;
    font-weight: 500;
    color: #353643;
    margin-bottom: 5px;
}

.blog-wrapper {
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: 0.2s;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
}
.blog-list-home .swiper-button-prev{
    margin-top: 31px;
    margin-left: -59px;
    background: rgb(247 165 28) url(../images/pre.svg);
    background-repeat: no-repeat;
    background-position: 14px 12px;
}
.blog-list-home .swiper-button-next {
    background: rgb(247 165 28) url(../images/next.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
    background-size: 12px;
    margin-top: 30px;
    margin-right: -60px;
    transition: 0.5s;
}
.blog-list-home .swiper-button-prev:hover{
    margin-top: 31px;
    margin-left: -59px;
    background: rgb(247 165 28) url(../images/pre.svg);
    background-repeat: no-repeat;
    background-position: 14px 12px;
}
.blog-list-home .swiper-button-next:hover {
    background: rgb(247 165 28) url(../images/next.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
    background-size: 12px;
    margin-top: 30px;
    margin-right: -60px;
    transition: 0.5s;
}
.blog-wrapper img{
    max-width: 100%;
    width: 100%;
}
.blog-list-home .swiper-button-next, .blog-list-home .swiper-button-prev{
    opacity: 1 !important;
}
.blog-wrapper:hover {
    box-shadow: 0px 6px 20px rgb(0 0 0 / 18%);
    transition: 0.5s;
}
.swiper-container{
    overflow: visible;
}

.blog-img img {
    max-width: 100%;
}

.blog-content {
    padding: 30px 20px;
}

.blog-wrapper .date svg {
    width: 14px;
    margin-right: 2px;
}

.blog-wrapper .date {
    font-size: 16px;
    color: #818181;
}

.blog-wrapper .date svg path {
    fill: #818181;
}

.blog-wrapper p {
    color: #818181;
    overflow: hidden;
    position: relative;
    height: 42px;
    font-size: 16px;
    margin-top: 5px;
}

.blog-wrapper p::after {
    background-image: linear-gradient(to right, #ffffff70, #fff);
    width: 80px;
    position: absolute;
    height: 20px;
    right: 0;
    bottom: 0;
    content: '';
}

.blog-wrapper .readmore-link {
    color: #F7A51C;
    font-weight: 600;
    display: block;
    font-size: 17px;
    padding-right: 5px;
    text-align: left;
}

.blog-wrapper .readmore-link img {
    vertical-align: middle;
    width: 18px;
    position: relative;
    top: -1px;
    left: 5px;
}

.see-all {
    padding: 10px 20px !important;
}

.blog-header {
    height: 350px;
    background-color: #2c0f6e;
    background-image: url(../images/blog/blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
}

.blog-header h1 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 90px;
}

.blogs-main-wrapper {
    padding: 70px 0;
    padding-bottom: 30px;
}

.blogs-main-wrapper .blog-wrapper {
    margin-top: 0px;
    margin-bottom: 35px;
}

.filter {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

.filter ul button {
    border: 1px solid #cccccc;
    background: no-repeat;
    padding: 6px 15px;
    border-radius: 50px;
    color: #9a9a9a;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 8px;
}

.filter ul button:hover {
    border: 1px solid #F7A51C;
    color: #F7A51C;
    transition: 0.5s;
}

.filter ul button:focus {
    outline: none;
}

.filter ul button.active {
    border: 1px solid #F7A51C;
    color: #fff;
    background: #F7A51C;
    transition: 0.5s;
}

.filter .search-blog input {
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 10px;
    background-image: url(../images/blog/search.svg);
    background-repeat: no-repeat;
    background-position: 10px 9px;
    padding-left: 31px;
    color: #9a9a9a;
    font-size: 14px;
    background-size: 14px;
    line-height: 35px;
}

.filter .search-blog input:focus {
    outline: none;
}

.blog-tt {
    font-size: 32px;
    font-weight: 700;
    color: #3a3a3a;
}

.blog-about-detail {
    font-size: 14px;
    color: #5e5e5e;
    margin-bottom: 30px;
}

.article-wrapper {
    font-size: 15px;
}

.article-wrapper p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #484747;
}

.article-wrapper h5 {
    font-size: 20px;
    font-weight: 700;
    color: #3a3a3a;
}

.article-wrapper ul {
    margin-bottom: 20px;
    padding-left: 18px;
}

.article-wrapper li {
    line-height: 30px;
    position: relative;
    font-size: 15px;
}

.article-wrapper li::before {
    content: ""; 
    font-weight: bold;
    display: inline-block;
    width: 6px;
    height: 6px;    
    background: #F7A51C;
    border-radius: 10px;
    position: absolute;
    left: -16px;
    top: 13px;
}
.tt-wp{
    margin-bottom: 20px;
}
.blog-wrapper {
    background: #fff;
}
.blog-list-home .container{
    max-width: 1500px;
    position: relative;
}
.blog-list-home .swiper-slide{
    background: none;
}
.news-section-home{
    padding: 80px 0;
    background: #f6f6f6;
}
.article-wrapper .img-fluid {
    margin-bottom: 20px;
}
@media (max-width: 991px){
    .news-section-home .tt-wp h4 {
        font-size: 30px !important;
    }
}
@media (max-width: 650px){
    .blog-content {
        padding: 20px 15px;
    }
    .blog-wrapper{
        margin-top: 10px;
    }
    .blog-wrapper .date {
        font-size: 13px;
    }
    .blog-wrapper .date svg {
        width: 10px;
    }
    .blog-list-home h5 {
        font-size: 14px;
        margin-top: 5px;
    }
    .blog-wrapper p{
        height: 40px;
        font-size: 13px;
        margin-top: 5px;
        line-height: 1.4;
    }
    .blog-wrapper .readmore-link{
        font-size: 14px;
    }
    .blog-wrapper .readmore-link img{
        width: 13px;
    }
    .news-section-home{
        padding: 40px 0;
    }
    .news-section-home .tt-wp h4 {
        font-size: 21px !important;
        margin-bottom: 8px !important;
        font-weight: 500 !important;
    }
}
